.mint-token-form {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid #dddddd;
  border-radius: 7px;
  outline: none;
  color: #222222;
}
.input-field::placeholder {
  color: #cccccc;
}
